/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

#isotope { 
  width:100% }

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.item { 
  width: 300px; 
  margin: 0px 30px 30px 0px;
}

.item.w2 { 
  width: 630px; 
  margin:30;
}

.homebutton {
    position:abolute;
    top:550;

}

#screen{
    position:relative;
    height:100px;
    width:100px;
    margin-top:40px;
}
    #screen .next, #screen .prev{
        position:absolute;
        top:200px;
    }
    #screen .prev{
        left:10px;
    }
    #screen .next{
        left:1040px;
    }
    
#sections{
    overflow:hidden;
    background-color:white;
    width:1000px;
    height:500px;
    clear:left;
    margin-left:30px;
}
    
    #sections ul{
        list-style-type: none;
        width:3660px;
    }
    
        #sections li{
            float:left;
            padding:11px 30px;
        }
            #sections li.fallen{
                margin-top:369px;
            }
            
            #sections p{
                width:550px;
                margin:16px 0;
                font-size:85%;
                line-height:1.4em;
            }
            
            #sections h2{
                color:#993333;
                margin:20px 0pt;
            }
            #sections a{
                color:#777;
                font-weight:bolder;
                text-decoration:none;
            }