/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

#isotope { 
  width:100% }

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.item { 
  width: 300px; 
  margin: 0px 30px 30px 0px;
}

.item.w2 { 
  width: 630px; 
  margin:30;
}

